<p>weatherservice works: sms , notification, more 10 day forcast,meteo sur demande, statistique </p>

<app-navbar></app-navbar>
<div class="body">

  <div class="card" style="width: 18rem;">
    <img src="../../assets/image/SMSblue.jpg" class="card-img-top" alt=".." height="100px">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">SMS</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/image/4896112-cloche-notification-pop-up-numero-de-notifications-non-ouvertes-ou-non-lues-concept-illustration-flat-design-vector-eps10-simple-elegant-and-modern-style-graphic-element-for-app-ou-site-web-ui-ux-icon-vector.jpg" class="card-img-top" alt="..." height="100px">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Notification</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/image/tunis-kartago-fr2131851.png" class="card-img-top" alt="..." width="100%">
    <div class="card-body">
      <h5 class="card-title">statistique</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Reisegnement</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/image/télécharger.jpg" class="card-img-top" alt="..." height="100px">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">More 10 days Forcast</a>
    </div>
  </div>
 
 

</div>

<app-footer></app-footer>