
.body
{
/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');  */
  
background-image: url('https://source.unsplash.com/collection/928423/1600x900?landscape');

}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}

.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  max-width: 450px;
  margin: 1em;
  position: relative;
  left: 400px;


}